.wrapper{
    background-image:url(home.jpg);
    height:120vh;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.click{
	border:1px solid #c49b63;
}
.click:hover{
	background-color: #c49b63;
	color:white;
}
.tcb{
	color: #c19a64;
}
.tcw{
 color: white;
}
#bars{
	color: #c49b63;
}
*{
	margin: 0;
	padding:0;
}
.customer{
	background:url(cupbg.jpg) repeat fixed center 100%;
}
.coffeec  {
	  border: 2px solid  #4e402c;
	  width: 70px;
	height: 70px;
	padding: 25px;
}
 .rating{
	background-image: url(final.jpg)  ;
	background-position: center;
	background-size: cover;
 
	
}
  footer{
	background-color: black;
  }


.coffee img{
	border: 2px solid  #4e402c;
	margin-left:35% ;
padding: 20px;
	
}
.coffee h3{
	padding: 5% 5px 5px 0px ;
	margin-left: 23%;

}
.coffee p{
	margin-right: 5%;
}

.phone{
    color: #c19a64;
}
.phonepara{
    font-size:20px; 
    
}
.heading1{
	margin-top:20%;
}
.heading2{
    margin: 0% 23% 0% 23%;
}

.buttons a {
    padding: 12px 20px;
    border: 2px solid #c39a64;
    color: #c39a64;
    text-decoration: none;
}
.buttons a:hover{
    color:#c39a64;
}
.logo img{
  height: 40%;
  width: 40%;
}

@media (min-width: 992px)
{.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
}
}
.text-dark{
	color:lightgray;
}

nav ul li{
	color: white;
}

#navbarResponsive a{
	color:white;
}
#navbarResponsive a:hover{
	color:#c49b63;
}

.nav-item a {
  color: white;
  font-weight:500;
  font-size: 16px;
}
.active .nav-link{
  color: #c19a64;
}

.heading1 {
  font-family: 'Arizonia', cursive;
  font-weight: 500;
  text-align: center;
  color: #c19a64;
}
body{
  color:white ;
}
.heading2{
  text-align: center;
}
.p1{
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: large;
}
.blackbg{
  background-color: black;
  height: 40%;
  margin-bottom: 0%;
}

.phone{
  text-align: center;
}
.form{

  background-color: #c49a64;
}
.phonepara{
  text-transform: uppercase;
}


.intro
{
	width: 100%;
	
   
    
}
.intro_image
{
	width: 100%;
	
}
.intro_image img
{
	margin-bottom: 10%;
	max-width: 100%;
}
.reservations_phone
{
	height: 47px;
	line-height: 43px;
	padding-left: 15px;
	padding-right: 10px;
	text-align: center;
	border: solid 2px #c49a64;
	font-size: 16px;
	font-weight: 700;
	color:#c49a64F;
}
.menu{
	margin-top: 8% ;
	margin-right: 2%;
	margin-bottom: 0%;
	margin-left: 10%;
}
.intro_content
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	
	transform: translateY(-50%);
	right: -265px;
    width: 60%;
    height: 60%;
    background: black;
    opacity: 0.6;
	border: solid 1px #b49383;
	box-shadow: 0px 45px 70px rgba(0,0,0,0.24);
	z-index: 1;
	padding-top: 30px;
	padding-bottom: 19px;
	padding-left: 20px;
	padding-right: 30px;
}
.font{
	font-size: 26px;
	font-family: "Great Vibes", cursive;
	color:  #c49a64;;
}
.intro_subtitle
{
	font-size: 36px;
	font-family: "Great Vibes", cursive;
	color:  #c49a64;;
}
.intro_title
{
	margin-top: 6px;
}
.intro_title h2
{
	font-size: 48px;
}
.intro_text
{
	margin-top: 32px;
}
@media only screen and (max-width: 1600px)
{
	.intro_content
	{
		width: 600px;
		right: -100px;
	}
}
@media only screen and (max-width: 1199px)
{.intro_content
	{
		right: -30px;
    }
}

@media only screen and (max-width: 991px)
{
    .intro_content
	{
		position: relative;
		top: auto;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		right: auto;
        margin-bottom: 10px;
        margin-top: 5px;
		width: 100%;
	}
}
@media only screen and (max-width: 767px)
{.intro_content
	{
		padding-left: 9px;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 10px;
    }
}
@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 14px;
    }
    .intro_content
	{
		padding-left: 30px;
	}
	.intro_subtitle
	{
		font-size: 30px;
	}
	.intro_title h2
	{
		font-size: 36px;
	}
	.intro_text
	{
		margin-top: 24px;
    }
}